.container {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 8px;

}

.container>svg {
    transform: scale(1.2);
    fill: #ffe234;
}

.source {

    margin-right: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: var(--font-size--small-1);

}