#episodes_list_container {

    background: var(--white-05);

    padding: 16px;

}

#episodes_list_container>h3 {

    color: var(--white-50);

    font-size: var(--font-size--p);
    font-weight: 400;

    margin-bottom: 32px;

}

#list_container {

    padding-right: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px 0;

    max-height: 500px;

    overflow-y: auto;
    overflow-x: hidden;

}

@media(min-width: 520px) {

    #list_container {
        max-height: 158px;
    }

}

@media(min-width:600px) {

    #list_container {
        max-height: 260px;
    }

}

#list_container[data-loading=true] li.item_placeholder {

    height: 70px;
    width: 100%;

    animation: loading-pulse infinite 1700ms;

}

@keyframes loading-pulse {
    0% {
        background: var(--white-75);
    }

    50% {
        background: var(--white-50);
    }

    100% {
        background: var(--white-75);
    }
}

#list_container::-webkit-scrollbar {
    width: 8px;
}

#list_container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px var(--white-25);
    border-radius: 10px;
}

#list_container::-webkit-scrollbar-thumb {
    background: var(--white-50);
    border-radius: 6px;
}

#list_container li {

    background-color: var(--white-05);

}

#list_container li[data-active=true] {

    background-color: var(--brand-color);

}

#list_container li .img_container {

    position: relative;
    top: 0;

    aspect-ratio: 46/65;

    width: 80%;

}

#list_container li>a {

    display: grid;
    grid-template-columns: 20% 80%;
    gap: 0 16px;
    align-items: center;

    border: 2px solid var(--white-05);

}

#list_container li[data-active=false]>a:hover {
    border: 2px solid var(--white-25);
}

#list_container li h4 {

    font-size: var(--font-size--p);
    font-weight: 400;

    color: var(--white-100);

}