#btn_filters {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;

    padding: 8px;

    background: transparent;

    border: 1px solid var(--white-25);

    font-weight: 600;
    font-size: var(--font-size--small-1);
    color: var(--white-100);

}

@media(min-width: 768px) {
    #btn_filters {
        display: none;
    }
}

#btn_filters[data-active=true] {
    border: 1px solid var(--brand-color);
}

#btn_filters svg {

    transform: scale(1.2);

}