#user_container {
    position: static;
}

#user_container #user_btn {

    gap: 0 4px;

    background-color: var(--background);
    padding: 8px;
    height: 32px;
    border: none;

}

#user_container #user_btn #img_container {

    position: relative;
    height: inherit;
    width: 32px;

}

#user_container #user_btn #img_container img {

    border-radius: 50%;

}

#user_container #user_btn>svg.scale_1_6 {

    margin-right: 4px;

    transform: scale(1.6);

}

#user_container #user_btn>span {
    display: flex;
}

#user_container>#user_menu_list {

    border: 0;
    background-color: var(--background);

    z-index: 100;

    position: absolute;
    top: 61px;
    right: 0;
    left: 0;

    padding: 8px;

    box-shadow: 5px 5px 4px 1px var(--black-75);

}

/* DESKTOP MENU VIEW WIDTH */
@media(min-width: 576px) {

    #user_container>#user_menu_list {
        right: 0;
        left: auto;

        width: 220px;
    }
}

@media(min-width: 1061px) {

    #user_container>#user_menu_list {

        top: 69px;

    }
}

#user_container>#user_menu_list>ul {

    display: flex;
    flex-direction: column;
    gap: 8px;

}

#user_container>#user_menu_list>ul>li {

    color: var(--brand-color);

}

#user_container>#user_menu_list>ul>li a {
    font-size: var(--font-size--small-1);
}

#user_container>#user_menu_list ul ul li {

    margin: 8px 0;

    padding: 8px 0;
    padding-right: 8px;
    padding-left: 40px;

}

#user_container>#user_menu_list ul ul li:hover {

    background-color: var(--black-05);

}

#user_container>#user_menu_list ul li button {

    display: flex;
    align-items: center;
    gap: 0 8px;

    background-color: transparent;

    text-align: start;
    border: 1px solid var(--white-25);
    border-radius: 4px;

    color: var(--white-100);

    width: 100%;

    padding: 8px;

    font-size: var(--font-size--small-1);
    font-weight: 600;

}

#user_container>#user_menu_list ul li button:hover {

    border: 1px solid var(--white-50);

}

#user_container>#user_menu_list ul li button:hover svg {

    fill: var(--brand-color);

}

/*  */
#user_container>#user_menu_list[aria-expanded=true] {

    animation: openUserMenuMobile forwards 200ms;

}

#user_container>#user_menu_list[aria-expanded=true]~#user_menu_overlay {

    animation: showMenuOverlay forwards 200ms;

}

#user_container>#user_menu_list[aria-expanded=false] {

    animation: closeUserMenuMobile forwards 200ms;

}

#user_container>#user_menu_list[aria-expanded=false]~#user_menu_overlay {

    animation: hiddeMenuOverlay forwards 200ms;

}

@keyframes openUserMenuMobile {
    0% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
    }
}

@keyframes openUserMenuDesktop {
    0% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
    }
}

@keyframes closeUserMenuMobile {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes closeUserMenuDesktop {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}