#container {

    margin-top: 24px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
    gap: 24px 16px;

}

#container_heading {

    margin: 32px 0;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    gap: 16px 0;

}

@media(min-width: 540px) {
    #container_heading {

        margin: 8px 0;

        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
}

#container_heading button {

    width: 100%;

    font-size: var(--font-size--p);

}

#container_heading button[data-active=false] {

    color: var(--white-75);

}

#container_heading span {
    
    margin: auto;
    font-size: var(--font-size--small-1);

}

#container_heading span:last-child {
    display: none;
}

#container[data-loading=true] li {

    display: flex;
    min-height: 140px;

}

/* PAGINATION BUTTONS */
#pagination_buttons_container {

    margin: 32px 0;

}

#pagination_buttons_container>div {

    justify-content: center;

}

#pagination_buttons_container>div button {

    transition: all ease-in-out 120ms;

    border: 2px solid var(--white-50);
    color: var(--white-75);
    border-radius: 50%;

    padding: 8px;

}

#pagination_buttons_container>div button:first-child,
#pagination_buttons_container>div button:last-child {

    padding: 8px;

}

#pagination_buttons_container>div button:first-child svg,
#pagination_buttons_container>div button:last-child svg {

    display: block;

}

#pagination_buttons_container>div button[data-active=true] {

    background-color: var(--brand-color);
    border-color: var(--brand-color);
    color: var(--white-100);

}

#pagination_buttons_container>div button[data-active=false]:hover,
#pagination_buttons_container>div button:hover {

    border-color: var(--brand-color);

}

#pagination_buttons_container>div>button:disabled {

    border-color: var(--white-50);
    cursor: default;
    opacity: 0.2;

}