#nav_tabs_container {

    width: 96%;
    max-width: var(--breakpoint-xxl);
    margin: auto;

}

#nav_tabs_container>ul {

    margin: auto;
    max-width: max-content;

}

@media(min-width: 990px) {
    #nav_tabs_container>ul {

        margin: 0;
        margin-bottom: 32px;

    }
}

#nav_tabs_container li button {

    background-color: transparent;

    border: none;

    color: var(--black-50);

    font-size: var(--font-size--small-1);
    font-weight: 600;

}

#nav_tabs_container li button[data-active=true] {

    color: var(--brand-color);

}

#nav_tabs_container ul span {

    color: var(--black-50);

    font-weight: 600;

    display: block;

    margin: 0 8px;

}

#itens_container {

    display: grid;

    width: 96%;
    max-width: var(--breakpoint-xxl);

    margin: auto;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "button_and_title button_and_title"
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8"
    ;
    grid-gap: 32px 16px;
    gap: 32px 16px;
    justify-items: center;
    justify-content: center;

}

@media(min-width: 768px) {
    #itens_container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "button_and_title button_and_title button_and_title"
            "item1 item2 item3"
            "item4 item5 item6"
            "item7 item8 item9"
        ;
    }
}

@media(min-width: 990px) {
    #itens_container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "item1 item2 item3 item4 button_and_title button_and_title"
            "item5 item6 item7 item8 button_and_title button_and_title"
        ;
        grid-template-rows: repeat(1, 1fr);
        grid-auto-rows: 0;
        overflow-y: hidden;
    }
}

@media(min-width: 1200px) {
    #itens_container {
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas:
            "item1 item2 item3 item4 item5 button_and_title button_and_title"
            "item6 item7 item8 item9 item10 button_and_title button_and_title"
        ;
    }
}

#nav_title_buttons_container {

    grid-area: button_and_title;

}

@media(min-width: 990px) {
    #nav_title_buttons_container {

        margin-bottom: 72px;

        width: inherit;

        display: flex;

        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }
}

#nav_title_buttons_container>h3 {

    margin: 24px 0;

    color: var(--background);

    font-weight: 600;

}

@media(min-width: 990px) {
    #nav_title_buttons_container>h3 {

        padding-top: 20px;
        border-top: 1px solid var(--black-05);

    }
}

#nav_title_buttons_container #buttons_container {

    margin: 24px auto;

    gap: 0 16px;

}

@media(min-width: 990px) {
    #nav_title_buttons_container #buttons_container {

        margin-top: 16px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 24px;

    }
}

#nav_title_buttons_container #buttons_container button {

    display: flex;

    padding: 8px;

    background-color: transparent;

    border: 2px solid var(--black-25);

    border-radius: 50%;

    transition: all ease-in-out 190ms;

}

#nav_title_buttons_container #buttons_container button:disabled {
    cursor: default;
    opacity: 0.5;

}

#nav_title_buttons_container #buttons_container button:not(:disabled):hover {

    border-color: var(--black-50);

}

#nav_title_buttons_container #buttons_container button svg {

    fill: var(--black-25);

}

#nav_title_buttons_container #buttons_container button:not(:disabled):hover svg {

    fill: var(--black-50);

}

#nav_title_buttons_container>a {

    font-size: var(--font-size--small-1);

    color: var(--black-75);

}

#nav_title_buttons_container>a:hover {
    color: var(--black-100);
}

#nav_title_buttons_container>a svg {

    margin-left: 4px;

}

#nav_title_buttons_container>a:hover svg {
    color: var(--black-100);
}