#container .background {

    background: black;

}

#video_container {

    position: relative;

    margin: 0 auto;

    width: 100%;
    min-height: 260px;
    height: inherit;

    scrollbar-width: 0;

    overflow: hidden;

    aspect-ratio: 16/ 9;

}

@media(min-width: 840px) {

    #video_container {

        max-width: 65vw;

    }

}

#video_container>iframe,
#video_container video {

    position: absolute;
    top: 0;
    height: 100%;

}

/* MOBILE */
@media(min-width: 768px) {
    .only_mobile {
        display: none;
    }
}

/* DESKTOP */
@media(max-width: 767px) {
    .only_desktop {
        display: none;
    }
}

/*  */
#media_info_container {

    margin: 32px auto;

    width: 96%;

    max-width: var(--breakpoint-sm);

}

@media(min-width: 768px) {

    #media_info_container {

        max-width: var(--breakpoint-md);

    }

}

@media(min-width: 980px) {

    #media_info_container {

        max-width: var(--breakpoint-xl);

    }

}

@media(min-width: 1480px) {

    #media_info_container {
        width: 100%;
        max-width: var(--breakpoint-xxl);

    }

}

#media_info_container {

    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;

}

@media(min-width: 768px) {
    #media_info_container {
        grid-template-columns: 1fr 40%;
    }
}

@media(min-width: 1020px) {
    #media_info_container {
        grid-template-columns: 1fr 30%;
    }
}

#heading_info_container {

    margin-bottom: 32px;

}

#heading_info_container h1 {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 24px;

    font-size: var(--font-size--h4);
    font-weight: 400;

    color: var(--brand-color);
    white-space: break-spaces;

}

@media(min-width: 1020px) {
    #heading_info_container h1 {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }
}

#heading_info_container h1 span {

    width: fit-content;

    font-size: var(--font-size--p);
    font-weight: 400;
    color: var(--white-50);

}

#heading_info_container>div {

    background-color: var(--black-50);

}

@media(max-width: 1020px) {
    #heading_info_container h1 span:nth-child(1) {
        display: none;
    }
}

.comment_container {

    margin-top: 32px;

}

.comment_container h2 {

    font-size: var(--font-size--h4);
    font-weight: 600;
    color: var(--white-100);

}