.rating_container {

    margin-top: 4px;

    padding: 8px;
    text-align: center;

    width: 120px;

    font-weight: 600;

    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size--p);
}

.rating_container[data-bcg-color=good] {

    background-color: #8BC34A;

}

.rating_container[data-bcg-color=medium] {

    background-color: #FF9800;

}

.rating_container[data-bcg-color=bad] {

    background-color: #e70027;

}

.rating_container[data-bcg-color=null] {

    background-color: #ffffff;

}