header#background {

    background-color: var(--background);

}

header#background a {

    display: block;

}

#logo {

    transform: scale(1.2);

}

header>div#container {

    justify-content: space-between;

    margin: auto;

    min-height: 60px;

}

@media((min-width: 576px) and (max-width: 768px)) {
    header>div#container {
        width: var(--breakpoint-sm);
    }
}

/* @media((min-width: 992px) and (max-width: 1200px)) {
    header>div#container {
        width: var(--breakpoint-md);
    }
} */

@media((min-width: 1201px) and (max-width: 1400px)) {
    header>div#container {
        width: var(--breakpoint-xl);
    }
}

@media((min-width: 1441px)) {
    header>div#container {
        width: var(--breakpoint-xxl);
    }
}

#menu_and_logo_container>a {

    position: relative;
    top: 0;
    aspect-ratio: 1117/393;
    width: 100%;
    height: 32px;

}

/* BUTTON */
header#background button.heading_btn {

    background-color: var(--background);

    padding: 8px;

    height: 32px;

    border: none;

}

header#background #menu_container button.heading_btn {
    margin-right: 32px;
}

@media(min-width: 1060px) {
    header#background button.heading_btn {

        display: none;

    }
}

/* BUTTON */
header#background button svg {

    fill: var(--white-100);

    transform: scale(1.6);

}

/* SEARCH BUTTON SECTION ---> DESKTOP and MOBILE */
#search_container #form_search form input,
#search_container #form_mobile_search form input {
    padding: 12px 12px;
    padding-left: 18px;

    border-radius: 24px 0 0 24px;
    border: 1px solid var(--black-75);
    border-right: 0;

    background-color: var(--white-100);
}

#search_container #form_search form input:focus,
#search_container #form_mobile_search form input:focus {

    /* outline: solid; */
    outline-width: 0;
    /* outline-color: var(--brand-color); */

    border: 1px solid var(--brand-color);
    border-right: 0;
}

#search_container #form_search form button,
#search_container #form_mobile_search form button {

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 12px;
    border-radius: 0 24px 24px 0;

    border: 1px solid var(--black-75);
    border-left: 0;

    background-color: var(--white-100);

}

#search_container #form_search form button:hover svg,
#search_container #form_mobile_search form button:hover svg {

    fill: var(--brand-color);

}

#search_container #form_search form input:focus~button,
#search_container #form_mobile_search form input:focus~button {
    border: 1px solid var(--brand-color);
    border-left: 0;
}

#search_container #form_search form button svg,
#search_container #form_mobile_search form button svg {

    transform: scale(1.21);

    fill: var(--black-50);

    margin-bottom: 4px;

}

/* MOBILE MENU VIEW WIDTH */
#menu_container>#menu_list,
#user_container>#user_menu_list {

    background-color: var(--white-100);

    z-index: 100;

    min-width: 60vw;

    position: fixed;
    top: 0;
    bottom: 0;

}

/* DESKTOP MENU VIEW WIDTH */
@media(min-width: 992px) {

    #menu_container>#menu_list,
    #user_container>#user_menu_list {

        min-width: 15vw;

    }
}

#menu_container>#menu_list h5 {

    font-size: var(--font-size--p);
    font-weight: 500;

    justify-content: space-between;

    padding: 16px 0;
    padding-left: 24px;
    padding-right: 24px;

}

#menu_container>#menu_list h5 svg {

    margin-left: 8px;

}

#menu_container>#menu_list h5[data-opened=true] {

    background-color: var(--black-25);

}

#menu_list ul[data-visible=false] {

    display: none;

}

#menu_container>#menu_list>ul>li,
#user_container>#user_menu_list>ul>li {

    color: var(--brand-color);

}

#menu_container>#menu_list>ul>li a,
#user_container>#user_menu_list>ul>li a {
    font-size: var(--font-size--small-1);
}

#menu_container>#menu_list ul ul li,
#user_container>#user_menu_list ul ul li {

    margin: 8px 0;

    padding: 8px 0;
    padding-right: 8px;
    padding-left: 40px;

}

#menu_container>#menu_list ul ul li:hover,
#user_container>#user_menu_list ul ul li:hover {

    background-color: var(--black-05);

}

#form_mobile_search {

    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--background);

}

#form_mobile_search>form {

    width: max-content;

    margin: 0 auto;

}

/* Shadow Effect behind mobile menu */
#menu_overlay,
#user_menu_overlay {

    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);

}

#menu_container>#menu_list[aria-expanded=true] {

    animation: openMenuMobile forwards 200ms;

}

#search_container>#form_mobile_search[aria-expanded=true] {

    animation: openForm forwards 200ms;

}

#user_container>#user_menu_list[aria-expanded=true] {

    animation: openUserMenuMobile forwards 200ms;

}

#menu_container>#menu_list[aria-expanded=true]~#menu_overlay,
#user_container>#user_menu_list[aria-expanded=true]~#user_menu_overlay {

    animation: showMenuOverlay forwards 200ms;

}

#menu_container>#menu_list[aria-expanded=false] {

    animation: closeMenuMobile forwards 200ms;

}

#search_container>#form_mobile_search[aria-expanded=false] {

    animation: closeForm forwards 200ms;

}

#user_container>#user_menu_list[aria-expanded=false] {

    animation: closeUserMenuMobile forwards 200ms;

}

#menu_container>#menu_list[aria-expanded=false]~#menu_overlay,
#user_container>#user_menu_list[aria-expanded=false]~#user_menu_overlay {

    animation: hiddeMenuOverlay forwards 200ms;

}

/* MENU on LEFT */
@keyframes openMenuMobile {
    0% {
        left: -60vw;
    }

    100% {
        left: 0px;
    }
}

@keyframes openMenuDesktop {
    0% {
        left: -15vw;
    }

    100% {
        left: 0px;
    }
}

@keyframes closeMenuMobile {
    0% {
        left: 0px;
    }

    100% {
        left: -60vw;
    }
}

@keyframes closeMenuDesktop {
    0% {
        left: 0px;
    }

    100% {
        left: -15vw;
    }
}

/* OVERLAY */
@keyframes showMenuOverlay {
    0% {
        display: none;
    }

    100% {
        display: block;

    }
}

@keyframes hiddeMenuOverlay {
    0% {
        display: block;
    }

    100% {
        display: none;

    }
}

/* SEARCH FORM*/
@keyframes openForm {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
        z-index: 10;
        height: 60px;
    }
}

@keyframes closeForm {
    0% {
        height: 60px;
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: 0;
        display: none;
        height: 0;
    }
}

/* SEARCH RESULTS CONTAINER*/
#search_results_container {

    z-index: 2;

    position: absolute;
    top: 120px;
    left: 0;
    right: 0;

    background: linear-gradient(var(--background) 70%, var(--background));
}

@media(min-width: 550px) {
    #search_results_container {
        top: 67px;
    }
}

@media(min-width: 1020px) {
    #search_results_container {
        left: auto;
        width: 50vw;
    }
}

@media(min-width: 1440px) {
    #search_results_container {
        width: 40vw;
    }
}

#search_results_container>button {

    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    text-align: center;

    border: none;

    border-bottom: 2px solid var(--white-75);
    background: transparent;

    color: var(--white-75);

    font-weight: 600;

}

#search_results_container>ul {

    padding: 16px 0;

    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4px 0;

}

/* USER MENU on RIGHT */
@keyframes openUserMenuMobile {
    0% {
        right: -60vw;
    }

    100% {
        right: 0px;
    }
}

@keyframes openUserMenuDesktop {
    0% {
        right: -15vw;
    }

    100% {
        right: 0px;
    }
}

@keyframes closeUserMenuMobile {
    0% {
        right: 0px;
    }

    100% {
        right: -60vw;
        display: none;
        /* temporary */
    }
}

@keyframes closeUserMenuDesktop {
    0% {
        right: 0px;
    }

    100% {
        right: -15vw;
        display: none;
        /* temporary */
    }
}

@media(min-width: 550px) {
    #search_container button#btn_open_search_form_mobile {

        display: none;

    }
}

@media(max-width: 549px) {
    #search_container #form_search {

        display: none;

    }
}

#navbar_container {

    width: 100%;

    /* margin: auto 0; */

    padding-left: 64px;

}

@media(max-width: 1060px) {
    #navbar_container {

        padding-left: 32px;

    }
}

@media(max-width: 1060px) {
    #navbar_container {

        display: none;

    }
}

#navbar_container>ul {

    height: 100%;

    grid-template-columns: 1fr 1fr 1fr;

    width: max-content;

}

#navbar_container>ul>li {

    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 16px;
    padding-left: 16px;

    width: max-content;

    font-weight: 300;

    color: var(--brand-color);
    position: static;

}

#navbar_container>ul>li>ul {
    display: none;
}

/* NAV LIST HOVER */
#navbar_container>ul>li:hover {

    background-color: var(--black-100);

    color: var(--white-100);

}

#navbar_container>ul>li:hover>ul {

    display: block;

}

#navbar_container>ul>li>svg {

    margin-left: 4px;

}

/* MOBILE LIST RIGHT SIDE */