/* COMMENT INPUT */
#write_comment_container {

    margin-top: 16px;
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: minmax(50px, 80px) minmax(120px, 1fr);

}

#write_comment_container .img_container {

    position: relative;
    top: 0;
    height: 100%;
    max-height: 60px;
    aspect-ratio: 1;

}

#write_comment_container .img_container img {
    border-radius: 50%;
}

#write_comment_container .img_container span {

    height: inherit;
    display: block;

    border-radius: 50%;

    background-color: var(--black-100);
    border: 2px solid var(--brand-color);

}

#write_comment_container form label:first-child {

    display: flex;
    flex-direction: column;

    font-size: var(--font-size--p);

    color: var(--white-100);

}

#write_comment_container form label#checkbox_row {

    padding: 8px;

    width: max-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8px;

    color: var(--white-100);
    background-color: var(--white-25);
    border-radius: 4px;

}

#write_comment_container form label#checkbox_row input {

    height: 16px;
    width: 16px;

    accent-color: var(--brand-color);

}

#write_comment_container form label textarea {

    padding: 8px;

    margin: 8px 0;

    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size--p);

}

#write_comment_container form label textarea:focus {

    border-radius: 4px;
    outline-width: 1px;
    outline-style: inset;
    outline-color: var(--brand-color);

}

#write_comment_container form button {

    margin-top: 16px;
    margin-left: auto;

    width: 100%;

    background: var(--brand-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    border: 0;
    border-radius: 8px;

    color: var(--white-100);

    padding: 12px 24px;

}

@media(min-width: 600px) {

    #write_comment_container form button {
        width: auto;
        justify-content: start;
    }

}

#write_comment_container form button svg {

    transform: scale(1.4);

}

#all_comments_container ul {

    display: flex;
    flex-direction: column;

    gap: 32px 0;

}

#no_comments_container {

    background-color: var(--white-25);

    padding: 32px ;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#no_comments_container p {

    color: var(--white-100);
    font-weight: 600;

}

/* ALL COMMENTS */
#all_comments_container #comments_heading {

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;

    width: inherit;

    margin-bottom: 16px;

}

#all_comments_container #comments_heading p {

    color: var(--white-100);
    font-weight: 600;

}

#all_comments_container #comments_heading #custom_select {

    width: 170px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#all_comments_container #comments_heading #custom_select svg {
    transform: scale(2);
    fill: var(--brand-color);
}

#all_comments_container select {

    padding: 8px 16px;

    background-color: transparent;
    border: 1px solid var(--brand-color);
    border-radius: 4px;

    font-weight: 600;
    font-family: var(--font-family-sans-serif);
    color: var(--white-100);

}

#all_comments_container #comments_heading select option {

    padding: 8px 16px;
    background-color: var(--black-100);

}

#all_comments_container>button {

    transition: all ease-in-out 100ms;

    display: flex;
    margin: 32px auto;

    padding: 16px 32px;

    border-radius: 4px;

    background-color: var(--brand-color);
    border: 0;

    color: var(--white-100);

}

#all_comments_container>button:hover {

    filter: brightness(90%);

}