#container {

    margin-top: 24px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
    gap: 24px 16px;

}

@media((min-width: 700px) and (max-width: 800px)) {

    #container {

        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    }

}

#container_heading {

    margin: 32px 0;

    display: flex;
    flex-direction: column-reverse;

    gap: 16px 0;

}

@media(min-width: 490px) {
    #container_heading {
        align-items: center;
    }
}

@media(min-width: 540px) {
    #container_heading {

        margin: 8px 0;

        flex-direction: row;
        align-items: flex-end;
        gap: 0 24px;
        justify-content: space-between;
    }
}

#container_heading button {

    width: 100%;

    font-size: var(--font-size--p);

}

#container_heading button[data-active=false] {

    color: var(--white-75);

}

#container_heading span {

    margin: auto;
    font-size: var(--font-size--small-1);

}

#container_heading #select_media_container {

    width: fit-content;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 8px 0;

}

@media(min-width: 540px) {
    #container_heading #select_media_container {

        margin: 0;

    }
}

#container_heading #select_media_container small {

    font-weight: 600;
    color: var(--white-75);

}

#container_heading #select_media_container select {

    padding: 8px 16px;
    border-radius: 4px;

    width: 100%;
    max-width: 240px;

    background-color: var(--background);
    color: var(--brand-color);

}

#container_heading span:last-child {
    display: none;
}

#container[data-loading=true] li {

    display: flex;
    min-height: 140px;

}

/* LOADING EPISODES */
#loading_episodes_container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
    gap: 24px 16px;

}

#loading_episodes_container>div {

    box-shadow: 0px 0px 4px 0px var(--white-05);

    display: flex;
    align-items: center;

    aspect-ratio: 4 / 3;

    background-color: var(--black-50);

    border-radius: 8px;

}

/* NO EPISODES */
#no_episodes_container {

    box-shadow: inset 0px 0px 20px 1px var(--background);

    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 340px;
    max-height: 60vh;

    background-color: var(--white-100);

}

#no_episodes_container p {

    font-weight: 500;
    color: var(--black-100) !important;

}

#no_episodes_container p span {

    color: var(--brand-color) !important;

}

/* PAGINATION BUTTONS */
#pagination_buttons_container {

    margin: 32px 0;

}