:root {

  --bcg-light-mode: #fafafa;
  --bcg-dark-mode: #181818;

  --brand-color: #ff1a75;
  /* --brand-light-mode-color: #ff1a75; */
  --brand-dark-mode-color: #3b0018;

  --pink-variant-1: #ff5ebc;
  --pink-variant-2: #ff0095;
  --pink-variant-3: #ffa2c8;

  --black-variant: #212121;

  /* --blue-home-nav-color: #01066b; */

  --text-grey-variant: #a3a3a3;
  --text-grey-variant2: #cfcfcf;
  --text-grey-variant3: #757474;

  --white: #fff;

}

html {

  font-size: 62.5%;

}

.swal2-popup, .swal2-modal, .swal2-show {

  font-size: initial !important;

}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

input {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}