.nav_button_container,
#dynamic_container {
    display: flex;
    gap: 0 8px;
}

.nav_button_container>button,
#dynamic_container>button {

    background-color: transparent;
    border: none;

    color: var(--white-50);

    font-size: var(--font-size--small-1);

    font-weight: 600;

    height: 36px;
    width: 36px;

}

.nav_button_container>button[data-active=false]:hover,
#dynamic_container>button[data-active=false]:hover {

    color: var(--white-75);

}

.nav_button_container>button[data-active=true],
#dynamic_container>button[data-active=true] {

    color: var(--brand-color);

}

.nav_button_container span {

    display: flex;
    align-items: flex-end;

    font-size: var(--font-size--h5);

}